mixin form(isNew, post)
  form(action= (isNew ? "/admin/posts" : "/admin/posts/#{post.id}") method="post")
    unless isNew
      input(type="hidden" name="_method" value="put")
    .input-group
      label(for="post[title]") Title
      input(type="text" name="post[title]" placeholder="title" value=post.title)
    ul.input-group.tags
      label Tags
      each tag in tags
        li.tag
          input(type="checkbox" name="post[tags][]" value= tag.id
                checked= ~post.tags.map(function(tag) { return tag.id; }).indexOf(tag.id) ?
                  "checked" : undefined)
          = tag.text
    .input-group
      label(for="post[content]") Content
      textarea(name="post[content]")= post.content
    input(type="submit" value="send")