extends ../layout

block content

  #index.col-xs-12
    a.btn.btn-primary(href="/admin/posts/new") Create new post

    h2 Posts

    table.posts
      tr
        th.title.col-xs-6 Title
        th.author.col-xs-1 Author
        th.comment-count.col-xs-1 Comments
        th.col-xs-4.row Actions

      each post in posts
        tr.post
          include post

