@import "../bower_components/bootstrap/less/bootstrap.less";

#content {
  margin: 0;
}

.navbar {
  background: #252525;
  color: #f5f5f5;

  #bs-example-navbar-collapse-1 .logout {
    margin-right: 20px;
  }
}

body {
  padding-top: 70px;
}

ul, li {
  list-style: none;
}

#login {
  margin-top: 30px;
  padding: 0;
  border: 1px solid #d3d3d3;

  h1 {
    margin: 0;
    padding: 15px;
    background: #696969;
    color: #ffffff;
  }

  form {
    padding: 20px;
  }
}

#index {
  tr {
    border-bottom: 1px dashed #d3d3d3;
  }

  th, td {
    text-align: center;
  }

  .posts {
    .post {
      .title {
        h2 {
          font-size: 16px;
        }
      }
    }
  }
}
