if typeof errors !== "undefined"
  ul.errors
    each error in errors
      li.error= error

form(action="/posts" method="post")
  .input-group
    label(for="post[title]") Title
    input(type="text" name="post[title]" placeholder="title" value=post.title)
  .input-group
    label(for="post[content]") Content
    textarea(name="post[content]")= post.content
  input(type="submit" value="send")