include ../../../views/errors

extends ../layout

block content

  #login.col-xs-12.col-sm-6.col-sm-offset-3

    if typeof errors !== "undefined"
      mixin errors(errors)

    h1 Login

    form(action="/admin/sessions" method="post" role="form")
      .form-group
        label(for="user[email]") Email
        input.form-control(type="email" name="user[email]" placeholder="email")
      .form-group
        label(for="user[password]") Password
        input.form-control(type="password" name="user[password]")
      input.btn.btn-primary(type="submit" value="login")